
<!DOCTYPE html>
<html lang="en">






<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/home.css}" rel="stylesheet">

    <title>Facebook Clone</title>




</head>

<body id="whole-body">

<script>
    function openForm() {
        document.getElementById("popupForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }
</script>



<div class="loginPopup">
    <div class="formPopup" id="popupForm">
        <form action="" class="formContainer" method="post">
            <h2>Upload your photo</h2>
            <!-- <label for="psw">
              <strong>choose photo</strong>
            </label> -->

            <input type="file" id="myFile" name="filename" required>
            <button type="submit" class="btn">Upload</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
</div>



<div>
</div>
<nav>
    <div class="nav-left">
        <img th:src="@{images/logo.png}" alt="Logo">
        <input type="text" placeholder="Search Mediabook..">
    </div>

    <div class="nav-middle">
        <a href="#" class="active">
            <i class="fa fa-home"></i>
        </a>

        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>

        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>

        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>

    <div class="nav-right">
        <span class="profile"></span>

        <a href="#">
            <i class="fa fa-bell"></i>
        </a>

        <a href="#">
            <i class="fas fa-ellipsis-h"></i>
        </a>

        <a th:href="@{/logOut}">
            <i class='fas fa-power-off' style="color:red"></i>
        </a>

    </div>
</nav>


<div class="container">
    <div class="left-panel">
        <ul>
            <li>
                <span class="profile"></span>
                <p>Olowofela lanre</p>
            </li>
            <li>
                <i class="fa fa-user-friends"></i>
                <p>Friends</p>
            </li>
            <li>
                <i class="fa fa-play-circle"></i>
                <p>Videos</p>
            </li>
            <li>
                <i class="fa fa-flag"></i>
                <p>Pages</p>
            </li>
            <li>
                <i class="fa fa-users"></i>
                <p>Groups</p>
            </li>
            <li>
                <i class="fa fa-bookmark"></i>
                <p>Bookmark</p>
            </li>
            <li>
                <i class="fab fa-facebook-messenger"></i>
                <p>Inbox</p>
            </li>
            <li>
                <i class="fas fa-calendar-week"></i>
                <p>Events</p>
            </li>
            <li>
                <i class="fa fa-bullhorn"></i>
                <p>Ads</p>
            </li>
            <li>
                <i class="fas fa-hands-helping"></i>
                <p>Offers</p>
            </li>
            <li>
                <i class="fas fa-briefcase"></i>
                <p>Jobs</p>
            </li>
            <li>
                <i class="fa fa-star"></i>
                <p>Favourites</p>
            </li>
        </ul>

        <div class="footer-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Advance</a>
            <a href="#">More</a>
        </div>
    </div>


    <div class="middle-panel">

        <div class="story-section">

            <div class="story create">
                <div class="dp-image">
                    <img th:src="@{images/smiling.png}" alt="Profile pic">
                </div>
                <span class="dp-container">
                        <i class="fa fa-plus"></i>
                    </span>
                <span class="name">Create Story</span>
            </div>


            <div class="story">
                <img th:src="@{images/model.jpg}" alt="Anuska's story">
                <div class="dp-container">
                    <img th:src="@{images/girl.jpg}" alt="">
                </div>
                <p class="name">Henry Ford</p>
            </div>

            <div class="story">
                <img th:src="@{images/unique.png}" alt="Story image">
                <span class="dp-container">
                        <img th:src="@{images/dp.jpg}" alt="Profile pic">
                    </span>
                <span class="name">Chris Hall</span>
            </div>

            <div class="story">
                <img th:src="@{images/mountains.jpg}" alt="Story image">
                <span class="dp-container">
                        <img th:src="@{images/boy.jpg}" alt="Profile pic">
                    </span>
                <span class="name">Nicolas Telsa</span>
            </div>

            <div class="story">
                <img th:src="@{images/wine.png}" alt="Story image">
                <span class="dp-container">
                        <img th:src="@{images/model.jpg}" alt="Profile pic">
                    </span>
                <span class="name">Steven Brown</span>
            </div>
        </div>

        <div class="post create">
            <form th:action="@{/home/pmessage}" th:object = "${newPostData}" method="POST">
            <div class="post-top">
                <div class="dp">
                    <img th:src="@{images/lanre.jpeg}" alt="lanre" >
                </div>

<!--                <a style="border: none; width:90%; padding: 6px;" href="post.html" class="btn btn-success">-->
<!--                    <input style="border:none; background:#eee; width: 85%; padding: 10px 6px; border-radius: 10px;" type="text" placeholder="What's on your mind, friends ?" />-->
<!--                </a>-->
                <input type="text" th:field = "*{postBody}" placeholder="What's on your mind, Lanre ?" name="pmessage" required>
                <div class="post-test-btn">
                    <input type="submit" value="post">
                </div>

            </div>
            </form>
            <div class="post-bottom">
                <div class="action">
                    <i class="fa fa-video"></i>
                    <span>Live video</span>
                </div>
                <div class="action">
                    <i class="fa fa-image"></i>
                    <a class="openButton" onclick="openForm()"><span>Upload Photo</span></a>
                </div>
                <div class="action">
                    <i class="fa fa-smile"></i>
                    <span>Feeling/Activity</span>
                </div>
            </div>
        </div>




        <div class="post-reversal">

        <div th:if="${(postData != null )}" th:each = "pmessage: ${postData}" class="post created-post">

            <div class="post-top">
                <div class="dp">
                    <img th:src="@{images/lanre.jpeg}" alt="">
                </div>
                <div class="post-info">
                    <p class="name">Olowofela lanre</p>
                    <span class="time" th:text="${pmessage.getTimeStamp().toString().substring(0, 19)}"></span>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>

            <div class="post-content">
<!--                <div></div>-->
                <p th:text = "${pmessage.postBody}"></p>

<!--                <div class="post-body"> <p></p>😏</div>-->
<!--                <div>-->
<!--                    <img src="" alt="" />-->

<!--                </div>-->

            </div>

            <div class="post-bottom">
                <div th:if = "${(likePostData.checkIfExists(pmessage.getPostId()) == null )}"  class="action" id="like-post">
                    <a  th:href="@{/home/likePost/{postId}(postId=${pmessage.getPostId()})}" style="text-decoration: none; color:grey;" href="#"> <i class="far fa-thumbs-up"></i>Like</a>

                </div>

                <div th:if = "${(likePostData.checkIfExists(pmessage.getPostId()) != null )}" class="action" id="like-post">
                    <a  th:href="@{/home/likePost/{postId}(postId=${pmessage.getPostId()})}" style="padding: 10px; text-decoration: none; color:blue;" href="#"> <i style="color:blue;" class="far fa-thumbs-up"></i>Like</a>

                </div>

<!--                <div class="like-color" id="like-post">-->
<!--                    <i class="far fa-thumbs-down"></i>-->
<!--                    <span>Unlike</span>-->
<!--                </div>-->

<!--                <div class="action" id="make-comment">-->
<!--                    <i class="far fa-comment"></i>-->
<!--                    <span>Comment</span>-->
<!--                </div>-->

                <div class="action" id="edit-comment">
                    <a  th:href="@{/home/pmessage/edit/{postId}(postId=${pmessage.getPostId()})}" style="text-decoration: none; color:grey;" ><i class="fa fa-edit"></i> Edit</a>

                </div>
                <div class="action" id= "deleter">
                    <a style="text-decoration: none; color: red;" th:href="@{/home/pmessage/{postId}(postId=${pmessage.getPostId()})}"> <i style="color: red;" class="fa fa-trash"></i> Delete</a>
                </div>

            </div>


            <div class="comment-container">

                <form th:action="@{/home/comments/add/{postId}(postId=${pmessage.getPostId()})}" th:object = "${newComment}" >
                    <div class="comment-container-box">
                    <div class="comment-textarea">
                        <textarea th:field = "*{commentBody}" class="comment-text" placeholder='Write your Comment'></textarea>
                    </div>

<!--                    <div class="btn-mother">-->
                        <div class="action-btns">
                            <button class="comment-btn" type="submit"><i class="fa fa-file"></i> comment</button>

                        </div>

<!--                        <div class="action-btns" id="like-comment">-->
<!--                            <button class="comment-btn" href="#"><i class="far fa-thumbs-up"></i> like</button>-->
<!--                        </div>-->

<!--                        <div class="action-btns">-->
<!--                            <button class="comment-btn" href="#"><i class="fa fa-edit"></i> Edit</button>-->

<!--                        </div>-->

<!--                        <div class="action-btns">-->
<!--                            <button style="color:red;" class="comment-btn"  href="#"> <i style="color:red;" class="fa fa-trash"></i> Delete</button>-->
<!--                        </div>-->

                        <!-- <input type="submit" value='Comment'>
                        <button id='clear' href='#'>Cancel</button> -->
<!--                    </div>-->
                    </div>
                </form>

            </div>

            <div th:if="${(commentData != null )}" class="created-comment">
                <h4>Comments</h4>

                <div th:each = "cmessage: ${commentData.getAllCommentById(pmessage.getPostId())}" class="created-comment-body">
                    <div class="created-comment-p">
                        <p th:text = "${cmessage.commentBody}"></p>
                    </div>

                    <div class="action-btns" id="like-comment">
                        <button class="comment-btn" href="#"><i class="far fa-thumbs-up"></i> like</button>
                    </div>

                    <div class="action-btns">
                        <a style="text-decoration: none; color: red;" class="comment-btn"  th:href="@{/home/comments/{commentId}(commentId=${cmessage.getCommentId()})}"> <i style="color:red;" class="fa fa-trash"></i> Delete</a>
                    </div>

                </div>
            </div>
<!--            <a style="text-decoration: none;  " href="" class="nav-link"></a>-->


        </div>





        </div>



<!--        For Demo-->
        <div class="post">
            <div class="post-top">
                <div class="dp">
                    <img th:src="@{images/boy.jpg}" alt="">
                </div>
                <div class="post-info">
                    <p class="name">Dennis Samuel</p>
                    <span class="time">1 week ago</span>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="post-content">
                College Hangout
                <img th:src="@{images/college.jpeg}" alt="Mountains">
            </div>
            <div class="post-bottom">
                <div class="action" id="like-post">
                    <i class="far fa-thumbs-up"></i>
                    <span>Like</span>
                </div>
                <div class="action">
                    <i class="far fa-comment"></i>
                    <span>Comment</span>
                </div>
                <div class="action">
                    <i class="fa fa-share"></i>
                    <span>Share</span>
                </div>
            </div>
        </div>


        <div class="post">
            <div class="post-top">
                <div class="dp">
                    <img th:src="@{images/model.jpg}" alt="">
                </div>
                <div class="post-info">
                    <p class="name">Mary Abigail</p>
                    <span class="time">5 mins ago</span>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="post-content">
                Hey, everybody! check mariam, Looking fresh this morning
                <img th:src="@{images/girlcar.jpeg}" alt="Shoes">
            </div>
            <div class="post-bottom">
                <div class="action" id="like-post">
                    <i class="far fa-thumbs-up"></i>
                    <span>Like</span>
                </div>
                <div class="action">
                    <i class="far fa-comment"></i>
                    <span>Comment</span>
                </div>
                <div class="action">
                    <i class="fa fa-share"></i>
                    <span>Share</span>
                </div>
            </div>
        </div>


    </div>




    <div class="right-panel">


        <div class="pages-section">
            <h4>Your pages</h4>
            <a class='page' href="#">
                <div class="dp">
                    <img th:src="@{images/logo.png}" alt="">
                </div>
                <p class="name">Chris</p>
            </a>

            <a class='page' href="#">
                <div class="dp">
                    <img th:src="@{images/dp.jpg}" alt="">
                </div>
                <p class="name">Chris Tutorials</p>
            </a>
        </div>

        <div class="friends-section">
            <h4>Friends</h4>
            <a class='friend' href="#">
                <div class="dp">
                    <img th:src="@{images/dp.jpg}" alt="">
                </div>
                <p class="name">Henry Mosely</p>
            </a>

            <a class='friend' href="#">
                <div class="dp">
                    <img th:src="@{images/shoes.jpg}" alt="">
                </div>
                <p class="name">George</p>
            </a>

            <a class="friend" href="#">
                <div class="dp">
                    <img th:src="@{images/boy.jpg}" alt="">
                </div>
                <p class="name">Athera Muna</p>
            </a>

            <a class="friend" href="#">
                <div class="dp">
                    <img th:src="@{images/dp.jpg}" alt="">
                </div>
                <p class="name">Regina grace</p>
            </a>

            <a class="friend" href="#">
                <div class="dp">
                    <img th:src="@{images/boy.jpg}" alt="">
                </div>
                <p class="name">Justin Bieber</p>
            </a>

            <a class="friend" href="#">
                <div class="dp">
                    <img th:src="@{images/dp.jpg}" alt="">
                </div>
                <p class="name">Ramesh GC</p>
            </a>

            <a class="friend" href="#">
                <div class="dp">
                    <img th:src="@{images/model.jpg}" alt="">
                </div>
                <p class="name">Sandra Katherine</p>
            </a>

        </div>
    </div>
</div>



<script>



    // var feild = document.querySelector('textarea');
    // var backUp = feild.getAttribute('placeholder');
    // var btn = document.querySelector('.btn');
    // var clear = document.getElementById('clear')
    // var commentEditer = document.getElementById('editer');
    // var commentDeleter = document.getElementById('deleter')
    // var commentContainer = document.querySelector('.comment-container');
    // var addComments = document.getElementById('edit-comment');
    // var editComments = document.getElementById('make-comment');
    // var likePost = document.getElementById('like-post');
    // var likeComment = document.getElementById('like-comment')
    // likeComment.addEventListener('click',function(){
    //     this.classList.toggle("like-color");
    //
    // })
    //
    // likePost.addEventListener('click',function(){
    //     this.classList.toggle("like-color");
    //
    // })
    // addComments.addEventListener('click', function(){
    //     commentContainer.classList.toggle('showComment');
    //
    // });
    // editComments.addEventListener('click', function(){
    //     commentContainer.classList.toggle('showComment');
    //
    // });


    // feild.onfocus = function(){
    //     this.setAttribute('placeholder', '');
    //     this.style.borderColor = 'grey';
    //     // btn.style.display = 'flex'
    //     btn.classList.add("spread");
    //
    // }
    //
    // feild.onblur = function(){
    //     this.setAttribute('placeholder',backUp);
    //     this.style.borderColor = '#aaa'
    // }
    //
    // clear.onclick = function(){
    //     btn.style.display = 'none';
    //     feild.value = '';
    // }


</script>



</body>

</html>