<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome Facebook</title>
    <link th:href="@{/css/welcome.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h1>facebook</h1>
        </div>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Settings</a></li>
            <li><a th:href="@{/s}">Log Out</a></li>
            <!-- <li><a href="">Log Out</a></li> -->
        </ul>
        <box-icon name='menu' color="whitesmoke" size="lg" id="menu"></box-icon>
    </nav>
    <div class="header-content">
        <h1>Welcome , Connect with friends</h1>
        <p>User Registration Successful ! </p>

        <a th:href="@{/home}" class="btn">Go to HomePage</a>
    </div>
</header>

</body>
</html>